In [24]:
% autosave 15

import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import numpy as np
import random
import time
import seaborn as sns

Autosaving every 15 seconds

In [25]:
expression_df = pd.read_table('./data/brem2005_RNA_expression.csv')
genotypes_df = pd.read_table('./data/jbloom_strains_genotyped.tab')

In [26]:
strain_data = pd.read_csv('./data/brem2005_strains.csv')
strain_names = strain_data['Strain name'].tolist()
progeny_names = strain_names[18:]

In [27]:
expression_df.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID_REF</th>
      <th>IDENTIFIER</th>
      <th>By1</th>
      <th>By2</th>
      <th>BY3</th>
      <th>BY4</th>
      <th>BY5</th>
      <th>BY6</th>
      <th>RM1_1</th>
      <th>RM2_1</th>
      <th>...</th>
      <th>22_4_d</th>
      <th>22_5_d</th>
      <th>23_3_d</th>
      <th>23_5_d</th>
      <th>24_1_d</th>
      <th>25_1_d</th>
      <th>25_3_d</th>
      <th>25_4_d</th>
      <th>26_1_d</th>
      <th>26_2_d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>TRS120</td>
      <td>-0.0620</td>
      <td>-0.094</td>
      <td>0.0925</td>
      <td>-0.1135</td>
      <td>-0.289</td>
      <td>-0.0420</td>
      <td>-0.0570</td>
      <td>-0.0140</td>
      <td>...</td>
      <td>0.0615</td>
      <td>0.0640</td>
      <td>-0.4475</td>
      <td>0.109</td>
      <td>0.1445</td>
      <td>0.3130</td>
      <td>-0.0185</td>
      <td>-0.0360</td>
      <td>0.1210</td>
      <td>0.0575</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>SCC2</td>
      <td>0.1340</td>
      <td>0.066</td>
      <td>NaN</td>
      <td>-0.0460</td>
      <td>-0.409</td>
      <td>-0.4100</td>
      <td>0.4235</td>
      <td>0.2045</td>
      <td>...</td>
      <td>0.0770</td>
      <td>0.2280</td>
      <td>0.3815</td>
      <td>0.239</td>
      <td>0.1045</td>
      <td>0.3535</td>
      <td>-0.0300</td>
      <td>0.0775</td>
      <td>0.4845</td>
      <td>0.1150</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>FLO1</td>
      <td>-0.1165</td>
      <td>-0.209</td>
      <td>NaN</td>
      <td>-0.0050</td>
      <td>0.078</td>
      <td>NaN</td>
      <td>0.8970</td>
      <td>0.6460</td>
      <td>...</td>
      <td>0.0735</td>
      <td>0.2610</td>
      <td>-0.0545</td>
      <td>0.074</td>
      <td>0.2690</td>
      <td>0.4370</td>
      <td>0.2475</td>
      <td>0.0840</td>
      <td>-0.1570</td>
      <td>0.0040</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>MYO3</td>
      <td>-0.1595</td>
      <td>-0.228</td>
      <td>NaN</td>
      <td>0.1830</td>
      <td>-0.102</td>
      <td>0.1815</td>
      <td>-0.1555</td>
      <td>0.0445</td>
      <td>...</td>
      <td>-0.0875</td>
      <td>-0.0995</td>
      <td>-0.5545</td>
      <td>0.132</td>
      <td>0.2220</td>
      <td>0.2430</td>
      <td>0.1830</td>
      <td>-0.0040</td>
      <td>-0.1085</td>
      <td>0.2220</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>PDR10</td>
      <td>0.0395</td>
      <td>-0.001</td>
      <td>NaN</td>
      <td>0.0430</td>
      <td>-0.162</td>
      <td>0.1560</td>
      <td>0.2075</td>
      <td>0.1125</td>
      <td>...</td>
      <td>0.0360</td>
      <td>0.1130</td>
      <td>0.1615</td>
      <td>0.011</td>
      <td>0.2985</td>
      <td>-0.0760</td>
      <td>-0.2335</td>
      <td>0.1015</td>
      <td>-0.2010</td>
      <td>-0.3375</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 132 columns</p>
</div>

In [28]:
genotypes_df[genotypes_df.columns.tolist()[0:128]].head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>RQTL_name</th>
      <th>2_7_a</th>
      <th>2_7_b</th>
      <th>2_7_c</th>
      <th>2_7_d</th>
      <th>21_5_c</th>
      <th>22_1_d</th>
      <th>22_2_d</th>
      <th>19_2_c</th>
      <th>19_3_c</th>
      <th>...</th>
      <th>9_7_d</th>
      <th>26_2_d</th>
      <th>19_1_c</th>
      <th>21_3_d</th>
      <th>21_1_d</th>
      <th>15_6_c</th>
      <th>17_1_a</th>
      <th>name</th>
      <th>chromosome</th>
      <th>position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>YAL069W_1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>YAL069W</td>
      <td>1</td>
      <td>483</td>
    </tr>
    <tr>
      <th>1</th>
      <td>YAL069W_2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>YAL069W</td>
      <td>1</td>
      <td>484</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NAL013C_3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>NAL013C</td>
      <td>1</td>
      <td>3220</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NAL013C_4</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>NAL013C</td>
      <td>1</td>
      <td>3223</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NAL013C_5</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>NAL013C</td>
      <td>1</td>
      <td>3232</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 128 columns</p>
</div>

In [57]:
# Divide all progeny into groups by their inheritance pattern
# for a given genetic marker, and then plot the data clouds
# to visually observe if there is any correlation between marker
# and RNA expression 


def plot_expression_to_marker_correlation(RNA_name, marker_name):
    marker_pos = genotypes_df[genotypes_df.RQTL_name == marker_name].index.tolist()[0]
    RNA_pos = expression_df[expression_df.IDENTIFIER == RNA_name].index.tolist()[0]
    from_BY, from_RM = [], []
    for strain in progeny_names:
        inheritance_pattern = genotypes_df[strain].iloc[marker_pos]
        expression_value = expression_df[strain].iloc[RNA_pos]
        if inheritance_pattern == 0:
            from_BY.append(expression_value)
        elif inheritance_pattern == 1:
            from_RM.append(expression_value)
    statistic, pvalue = scipy.stats.mannwhitneyu(
        x=from_BY,
        y=from_RM
    )
    if pvalue <= 1e-7:
        xlabels = np.append(
                        np.full((1, len(from_BY)), 1), 
                        np.full((1, len(from_RM)), 2))\
                        + np.random.normal(0, 0.01, len(from_BY) + len(from_RM)
                )  
        ylabels = np.array(from_BY + from_RM)
        plt.figure(figsize=(20, 10))
        plt.rcParams["axes.facecolor"] = 'white'
        plt.title("p-value: {}".format(pvalue))
        plt.xlabel("class label")
        plt.ylabel("expression value")
        plt.scatter(
            x=xlabels, y=ylabels,
            c=ylabels, cmap=cm.jet
        )
        plt.savefig("./img/" + RNA_name + "_to_" + marker_name + ".png")
        plt.close()
    return pvalue

In [58]:
# It's quite hard to identify QTLs just by looking at the point clouds.
# I guess, the next step is to apply MWU and then plot the pairs with 
# the highest predicted linkage, just to verify the validity of a program
np.random.seed(int(time.time()))
test_pairs = list(
                zip( 
                    np.random.choice(expression_df["IDENTIFIER"].tolist(), 10000, replace=True),
                    np.random.choice(genotypes_df["RQTL_name"].tolist(), 10000, replace=True)
                )
            )
min_pvalue = 1.
argmin_RNA, argmin_marker_name = "", ""
for RNA_name, marker_name in test_pairs:
    pvalue = plot_expression_to_marker_correlation(RNA_name, marker_name)
    if pvalue < min_pvalue:
        min_pvalue = pvalue
        argmin_RNA = RNA_name
        argmin_marker_name = marker_name
print("{}: {} to {}".format(min_pvalue, argmin_RNA, argmin_marker_name))

1.8012250539173446e-18: ARR1 to gKR08_1850