In this notebook the eQTL identification is performed.

General workflow description: for each marker identify whether it is a QTL for some expressed gene by running a statistical test over sets of expression values of each of them, divided by inheritance pattern in a strain, and applying FDR-correction thereafter

In [125]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import numpy as np
import time
from scipy import stats
import networkx as nx

In [ ]:
# BY and RM strains values must be averaged and placed into two separate columns

expression_df = pd.read_table('./data/brem2005_RNA_expression.csv')
genotypes_df = pd.read_table('./data/jbloom_strains_genotyped.tab')

markers_n = genotypes_df.shape[0]
rna_n = expression_df.shape[0]

# Add columns with the parental genotypes
# to use their averaged expression data

genotypes_df["BY"] = pd.DataFrame(data=np.zeros(markers_n, dtype="int")) 
genotypes_df["RM"] = pd.DataFrame(data=np.ones(markers_n, dtype="int"))

In [147]:
marker_loc = dict(zip(genotypes_df["RQTL_name"], np.arange(markers_n)))
RNA_loc = dict(zip(expression_df["IDENTIFIER"], np.arange(rna_n)))

In [127]:
# Average the expression values over all parental strains.
# Add averaged columns called "BY" and "RM" to expression dataframe
# and remove the parental strains' columns

BY_expr_df = expression_df.iloc[:, 2:8]
RM_expr_df = expression_df.iloc[:, 8:20]


def avg_expr_df(df):
    row_n, col_n = df.shape 
    averaged = np.full(shape=row_n, fill_value=np.nan)
    # iterate over rows of a dataframe
    for i, row in enumerate(df.itertuples()):
        expr_sum, cnt = 0., 0.
        # and average non-NaN values of the columns
        # presence of NaNs is exactly the reason why the columns 
        # cannot be simply added together and averaged
        for j in range(1, col_n + 1):
            if not np.isnan(row[j]):
                expr_sum += row[j]
                cnt += 1
        if cnt:
            averaged[i] = expr_sum / cnt
    return averaged


expression_df["BY"] = pd.DataFrame(avg_expr_df(BY_expr_df))
expression_df["RM"] = pd.DataFrame(avg_expr_df(RM_expr_df))

# Non-averaged expression data of parental strains is no longer necessary,
# so the appropriate columns are dropped from the dataframe
expression_df = expression_df.drop(
    BY_expr_df.columns.tolist() + RM_expr_df.columns.tolist(), 
    axis=1
)

In [153]:
# Haven't I cleaned the data before exactly not to write these lines?

# strain_data = pd.read_csv('./data/brem2005_strains.csv')
# strain_names = strain_data['Strain name'].tolist()
# progeny_names = strain_names[18:]

strain_names = expression_df.columns.tolist()[2:]
progeny_names = strain_names[18:]

In [129]:
expression_df.iloc[:, 0:110].head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID_REF</th>
      <th>IDENTIFIER</th>
      <th>1_1_d</th>
      <th>1_3_d</th>
      <th>1_4_d</th>
      <th>1_5_c</th>
      <th>2_2_d</th>
      <th>2_3_d</th>
      <th>2_4_a</th>
      <th>2_5_d</th>
      <th>...</th>
      <th>21_4_d</th>
      <th>21_5_c</th>
      <th>22_2_d</th>
      <th>22_3_b</th>
      <th>22_4_d</th>
      <th>22_5_d</th>
      <th>23_3_d</th>
      <th>23_5_d</th>
      <th>24_1_d</th>
      <th>25_1_d</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>TRS120</td>
      <td>0.1235</td>
      <td>0.0790</td>
      <td>-0.0230</td>
      <td>0.1050</td>
      <td>0.1205</td>
      <td>0.1425</td>
      <td>0.0150</td>
      <td>-0.2760</td>
      <td>...</td>
      <td>-0.0330</td>
      <td>0.2555</td>
      <td>0.3165</td>
      <td>0.1775</td>
      <td>0.0615</td>
      <td>0.0640</td>
      <td>-0.4475</td>
      <td>0.109</td>
      <td>0.1445</td>
      <td>0.3130</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>SCC2</td>
      <td>0.2955</td>
      <td>0.3965</td>
      <td>-0.0795</td>
      <td>0.0530</td>
      <td>0.3795</td>
      <td>0.2050</td>
      <td>0.1655</td>
      <td>-0.2225</td>
      <td>...</td>
      <td>0.2935</td>
      <td>0.5400</td>
      <td>0.4230</td>
      <td>0.2575</td>
      <td>0.0770</td>
      <td>0.2280</td>
      <td>0.3815</td>
      <td>0.239</td>
      <td>0.1045</td>
      <td>0.3535</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>FLO1</td>
      <td>0.7180</td>
      <td>-0.0090</td>
      <td>0.9030</td>
      <td>0.1855</td>
      <td>0.9040</td>
      <td>0.2455</td>
      <td>-1.6495</td>
      <td>-0.0360</td>
      <td>...</td>
      <td>-0.1550</td>
      <td>-0.1370</td>
      <td>0.4565</td>
      <td>0.5520</td>
      <td>0.0735</td>
      <td>0.2610</td>
      <td>-0.0545</td>
      <td>0.074</td>
      <td>0.2690</td>
      <td>0.4370</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>MYO3</td>
      <td>-0.0220</td>
      <td>0.2745</td>
      <td>0.3285</td>
      <td>0.3425</td>
      <td>0.1615</td>
      <td>0.3145</td>
      <td>-0.1400</td>
      <td>0.1160</td>
      <td>...</td>
      <td>-0.0880</td>
      <td>-0.1340</td>
      <td>0.0800</td>
      <td>0.0725</td>
      <td>-0.0875</td>
      <td>-0.0995</td>
      <td>-0.5545</td>
      <td>0.132</td>
      <td>0.2220</td>
      <td>0.2430</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>PDR10</td>
      <td>-0.0130</td>
      <td>0.2100</td>
      <td>0.2540</td>
      <td>0.2925</td>
      <td>0.6040</td>
      <td>0.4395</td>
      <td>-0.1370</td>
      <td>-0.0465</td>
      <td>...</td>
      <td>-0.0610</td>
      <td>-0.1505</td>
      <td>-0.2370</td>
      <td>-0.0255</td>
      <td>0.0360</td>
      <td>0.1130</td>
      <td>0.1615</td>
      <td>0.011</td>
      <td>0.2985</td>
      <td>-0.0760</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 110 columns</p>
</div>

In [130]:
genotypes_df.iloc[:, 0:128].head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>RQTL_name</th>
      <th>2_7_a</th>
      <th>2_7_b</th>
      <th>2_7_c</th>
      <th>2_7_d</th>
      <th>21_5_c</th>
      <th>22_1_d</th>
      <th>22_2_d</th>
      <th>19_2_c</th>
      <th>19_3_c</th>
      <th>...</th>
      <th>9_7_d</th>
      <th>26_2_d</th>
      <th>19_1_c</th>
      <th>21_3_d</th>
      <th>21_1_d</th>
      <th>15_6_c</th>
      <th>17_1_a</th>
      <th>name</th>
      <th>chromosome</th>
      <th>position</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>YAL069W_1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>YAL069W</td>
      <td>1</td>
      <td>483</td>
    </tr>
    <tr>
      <th>1</th>
      <td>YAL069W_2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>YAL069W</td>
      <td>1</td>
      <td>484</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NAL013C_3</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>NAL013C</td>
      <td>1</td>
      <td>3220</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NAL013C_4</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>NAL013C</td>
      <td>1</td>
      <td>3223</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NAL013C_5</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>NAL013C</td>
      <td>1</td>
      <td>3232</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 128 columns</p>
</div>

In [131]:
# Divide all progeny into groups by their inheritance pattern
# for a given genetic marker, and then plot the data clouds
# to visually observe if there is any correlation between marker
# and RNA expression 

# What is the asymptotics of this function?

# Divide expression data for a given gene in two groups,
# based on inheritance pattern of a given marker
def expression_by_RNA_and_marker(RNA_name, marker_name):
    from_BY, from_RM = [], []
    RNA_pos = expression_df[expression_df.IDENTIFIER == RNA_name].index.tolist()[0]
    marker_pos = genotypes_df[genotypes_df.RQTL_name == marker_name].index.tolist()[0]
    for strain in progeny_names:
        # Optimization: extract the corresponding rows in advance
        expression_value = expression_df[strain].iloc[RNA_pos]
        inheritance_pattern = genotypes_df[strain].iloc[marker_pos]
        if np.isnan(expression_value):
            continue
        if inheritance_pattern == 0:
            from_BY.append(expression_value)
        elif inheritance_pattern == 1:
            from_RM.append(expression_value)
    return from_BY, from_RM


# For the given pair (expressed gene, marker) test the hypothesis
# that inherited variant of a marker influences gene expression significantly 
def test_linkage(RNA_name, marker_name, eps=1e-5):
    from_BY, from_RM = expression_by_RNA_and_marker(RNA_name, marker_name)
    statistic, pvalue = stats.mannwhitneyu(x=from_BY, y=from_RM)
    return (pvalue <= eps, pvalue)


# Divide expression data by inherited marker 
# variant and then plot the resulting groups 
def plot_expression_to_marker_correlation(RNA_name, marker_name):
    from_BY, from_RM = expression_by_RNA_and_marker(RNA_name, marker_name)
    xlabels = np.append(
                    np.full((1, len(from_BY)), 1), 
                    np.full((1, len(from_RM)), 2))\
                    + np.random.normal(0, 0.01, len(from_BY) + len(from_RM)
            )  
    ylabels = np.array(from_BY + from_RM)
    plt.figure(figsize=(20, 10))
    plt.rcParams["axes.facecolor"] = 'white'
    plt.title("p-value: {}".format(pvalue))
    plt.xlabel("class label")
    plt.ylabel("expression value")
    plt.scatter(
        x=xlabels, y=ylabels,
        c=ylabels, cmap=cm.jet
    )
    plt.savefig("./img/" + RNA_name + "_to_" + marker_name + ".png")
    plt.close()

**TODO**:
    1.  Find QTLs for every gene using 5% pvalue threshold
    2.  Validate QTLs using permutations test and calculate FDR
    3.  Construct and visualize a bipartite graph visualizing 
        the linkages found during experiments 
    4.  Also, it's worth calculating the linkages for every
        marker gene and plotting the bar chart, placing markers
        accordingly to their position in the chromosome.

In [192]:
# When and how to apply multiple-testing correction (FDR, q-value)?

# Set the seed to ensure either reproducibility
# or randomness of the generated sample 
np.random.seed(int(time.time()))

# Extract subsample
test_pairs = list(
                zip( 
                    np.random.choice(expression_df["IDENTIFIER"].tolist(), 2000, replace=True),
                    np.random.choice(genotypes_df["RQTL_name"].tolist(), 2000, replace=True)
                )
            )

# Check linkage for all entries of this subsample
# and construct a bipartite graph of interactions
linkage_graph = nx.Graph()
for RNA_name, marker_name in test_pairs:
    result, pvalue = test_linkage(RNA_name, marker_name, eps=0.05)
    if result:
        if not linkage_graph.has_node(RNA_name):
            linkage_graph.add_node(RNA_name, bipartite=0)
        if not linkage_graph.has_node(marker_name):
            linkage_graph.add_node(marker_name, bipartite=1)
        linkage_graph.add_edge(RNA_name, marker_name)

In [193]:
# Built-in bipartite.sets() works strangely 
# maybe, it's only so for undirected graphs,
# I should check that on some toy example

top_v, bottom_v = [], []
for node, data in linkage_graph.nodes(data=True):
    if data["bipartite"] == 0:
        bottom_v.append(node)
    else:
        top_v.append(node)
        
# To plot a bipartite graph correctly, the positions
# of the vertices must be written down explicitly

pos = dict()
pos.update((n, (1, 2*i)) for i, n in enumerate(top_v))
pos.update((n, (2, 2*i)) for i, n in enumerate(bottom_v))

# Maybe, (20, 20) is too small: the labels overlap significantly

plt.figure(figsize=(20, 30))
nx.draw(
    linkage_graph,
    with_labels=True,
    node_size=50,
    edge_width=3.0,
    pos=pos,
    node_color=list(linkage_graph.degree().values()),
    edge_color='b',
    cmap=plt.cm.Blues,
    alpha=0.5
)
plt.savefig("./img/graph.png")
plt.close()

/home/vvi/anaconda3/lib/python3.5/site-packages/networkx/drawing/nx_pylab.py:126: MatplotlibDeprecationWarning: pyplot.hold is deprecated.
    Future behavior will be consistent with the long-time default:
    plot commands add elements without first clearing the
    Axes and/or Figure.
  b = plt.ishold()
/home/vvi/anaconda3/lib/python3.5/site-packages/networkx/drawing/nx_pylab.py:138: MatplotlibDeprecationWarning: pyplot.hold is deprecated.
    Future behavior will be consistent with the long-time default:
    plot commands add elements without first clearing the
    Axes and/or Figure.
  plt.hold(b)
/home/vvi/anaconda3/lib/python3.5/site-packages/matplotlib/__init__.py:917: UserWarning: axes.hold is deprecated. Please remove it from your matplotlibrc and/or style files.
  warnings.warn(self.msg_depr_set % key)
/home/vvi/anaconda3/lib/python3.5/site-packages/matplotlib/rcsetup.py:152: UserWarning: axes.hold is deprecated, will be removed in 3.0
  warnings.warn("axes.hold is deprecated, will be removed in 3.0")

In [194]:
# Extract the marker-nodes and number of linkages to them
# preserving their order based on genome location

marker_nodes = sorted(
    list(linkage_graph.degree(top_v).items()), 
    key=lambda p: marker_loc[p[0]]
)

# Pythonic way of unzipping a list of tuples
# into two separate lists of their coordinates

m_names, m_degrees = map(list, zip(*marker_nodes))  

plt.figure(figsize=(40, 20))
plt.plot(m_degrees)
plt.xticks(
    range(len(marker_nodes)), 
    m_names,
    rotation="vertical"
)
plt.savefig("./img/linkage_map.png")
plt.close()